@model Product

@{
    Layout = null; // Prevent layout from being rendered twice
}

<div class="list-item product" onclick="ViewProduct(@Model.Id)">
    @if (Model.Images.Any())
    {
        Image img = Model.Images.First();
        <figure>
            <img src="@img.Src"/>
            <figcaption>@Model.Name</figcaption>
        </figure>
    }
    <div>
        <span>Pris: @Model.Price SEK</span>
        <span>I lager: @Model.InStock</span>
    </div>
</div>
