@model Basket

@{
    ViewData["Title"] = "Index";
}

<div class="container shopping-cart">

    @if (@Model.Items.Count == 0)
    {
       
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
               <!--Lägg bild Daniel-->
            <!--<img src = "~/images/" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy"> -->
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Här var det tomt.. </h1>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
   
                    <div>
                        <a class="btn btn-success" onclick="ViewAllProducts()">Shoppa nu</a>
                    </div>
                    
                </div>
            </div>
        </div>
    }

    else
    {

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Produkt</th>
                        <th class="text-center">Antal</th>
                        <th class="text-center">Pris</th>
                        <th class="text-center">Totalsumma</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td class="col-sm-5 col-md-5">
                                <div>
                                    <div>
                                        <h5 class="mt-0 text-primary">@item.Product.Description</h5>
                                        <span>Status: </span>
                                        <span class="text-success">
                                            <strong>
                                                I Lager
                                            </strong>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            
                            
                            <td class="col-sm-4 col-md-4" style="text-align: center">
                                
                                <input id="@item.Product.Id" type="number" class="col-md-3" value="@item.Quantity" min="0" />

                                <input type="submit" class="btn btn-sm btn-success col-md-3" value="Uppdatera" onclick="UpdateQuantity(@item.Product.Id)" />
                               
                            </td>
                          
                            <td class="col-sm-1 col-md-1 text-center"><strong>@item.Product.Price</strong></td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>@item.TotalPrice()</strong></td>
                            <td class="col-sm-1 col-md-1">

                                <input type="submit" class="btn btn-sm btn-danger" value="Ta bort" onclick="RemoveItemFromCart(@item.Product.Id)" />
                            </td>
                        </tr>

                    }

                    
                    
                        <tr>
                            <td colspan="3" class="text-right">
                                <h5>Delsumma</h5>
                            </td>
                            <td class="text-center">
                                <h5>@Model.TotalCost():-</h5>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-right">
                                <h5>Frakt</h5>
                            </td>
                            <td class="text-center">
                                <h5><strong>Gratis</strong></h5>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-right">
                                <h3>Total (SEK)</h3>
                            </td>
                            <td class="text-center">
                                <h3><strong>@Model.TotalCost():-</strong></h3>
                            </td>
                            <td></td>

                        </tr>
                    

                </tbody>
            </table>
        </div>
        <div class="container my-5">
           @* <a type="button" class="m-1 btn btn-success" asp-controller="Order" asp-action="GetOrder">Proceed to Checkout</a>*@
            <a class="btn btn-primary" onclick="ViewAllProducts()">Fortsätt shoppa</a>
        </div>
    }
</div>
